<h1>More Information</h1>

<h2>Minimum quantity of items: <%= @discount.item_quantity %></h2>
<h2>Percent discount: <%= @discount.percentage %></h2>

<p><%= link_to "Edit Discount", edit_merchant_merchant_bulk_discount_path(@discount.merchant_id, @discount.id) %> <%= button_to "Delete Discount", merchant_merchant_bulk_discount_path(@discount.merchant_id, @discount.id), method: :delete %></p>
